{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="category_delete">
        Уверены, что хотите удалить товар? <strong>{{ object.name }}</strong>
        <form action="{% url 'admin:product_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn_danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:product' object.category.pk %}">отмена</a>
        </button>
    </div>